/* element */
body {
    /* property of the style an element */
    background-color: moccasin;
}

h1 {
    /* Set the h1 to be blue color */
    color: #0064cd;
    font-size:32px;
    text-align:center; /* right, center, left, justify */
    font-family: "Tagesschrift", system-ui;
}

h2 {
    color:rgb(237,43,26);
    font-size:24px;
    text-decoration: underline; /*underline,line-through, overline */
    font-weight: bolder ; /*bold, bolder, lighter , 100-900 */
    font-family: "Playfair Display", serif;
}
p {
    /* the font and backup/fallback font = serif, sans-serif, monospace, system-ui */
    font-family: "Montserrat", sans-serif;
}

a {
    color: darkmagenta;
    text-decoration: none;
}

/* state in CSS */
/* the cursor is on a*/

a:hover {
    text-decoration: underline;
}